.g-maps-component {

  &__div-map {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .map-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}